Documents/coaching-project/coaching-booking/n8n-whatsapp-faq-workflow.json
{
  "name": "WhatsApp FAQ Bot - Coaching Booking",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-incoming",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Incoming WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract message text from Brevo webhook payload\nconst body = $input.first().json.body || $input.first().json;\nconst messageText = (body.message || body.text || body.content || '').toLowerCase().trim();\nconst senderPhone = body.from || body.phone || body.sender || '';\nconst senderName = body.name || body.sender_name || 'there';\n\n// FAQ keyword matching\nlet faqMatch = 'default';\nlet response = '';\n\nif (messageText.includes('book') || messageText.includes('how')) {\n  faqMatch = 'booking';\n  response = `Hi ${senderName}! To book a session, click the booking link your coach shared. Select your session, enter your details, and confirm. You can pay online via Stripe or pay cash at the session.`;\n} else if (messageText.includes('session') || messageText.includes('available')) {\n  faqMatch = 'availability';\n  response = `Available sessions change weekly. Click your booking link to see all open sessions with dates, times, and prices.`;\n} else if (messageText.includes('cancel')) {\n  faqMatch = 'cancellation';\n  response = `To cancel a booking, reply with your full name and booking details. Your coach will process the cancellation.`;\n} else if (messageText.includes('price') || messageText.includes('cost') || messageText.includes('much')) {\n  faqMatch = 'pricing';\n  response = `Session prices vary by type and level. Check your booking link to see prices for each available session.`;\n} else if (messageText.includes('bring') || messageText.includes('wear') || messageText.includes('need')) {\n  faqMatch = 'preparation';\n  response = `For most sessions, bring: sports shoes, water, and weather-appropriate clothes. Check your session details for anything specific.`;\n} else if (messageText.includes('time') || messageText.includes('when') || messageText.includes('start')) {\n  faqMatch = 'timing';\n  response = `Session times are listed on the booking page and in your confirmation email. Reply with your name if you need the exact time for your session.`;\n} else {\n  faqMatch = 'default';\n  response = `Thanks for your message! For bookings, use the booking link your coach shared. For other questions, your coach will respond as soon as possible.`;\n}\n\nreturn [{\n  json: {\n    messageText,\n    senderPhone,\n    senderName,\n    faqMatch,\n    response,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "faq-matcher",
      "name": "Match FAQ Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/whatsapp/sendMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "sendInBlueApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.BREVO_WHATSAPP_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "senderNumber",
              "value": "={{ $env.BREVO_WHATSAPP_PHONE_NUMBER_ID }}"
            },
            {
              "name": "recipientNumber",
              "value": "={{ $json.senderPhone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.response }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Response (Brevo)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300],
      "notes": "Replace the URL and body format with your actual Brevo WhatsApp API endpoint. The exact format depends on your Brevo WhatsApp API version."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', faqMatch: $json.faqMatch }) }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.airtable.com/v0/{{ $env.AIRTABLE_BASE_ID }}/WhatsApp_Interactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.AIRTABLE_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"phone_number\": \"{{ $json.senderPhone }}\",\n    \"message_text\": \"{{ $json.messageText }}\",\n    \"response_sent\": \"{{ $json.response }}\",\n    \"matched_faq\": \"{{ $json.faqMatch }}\",\n    \"timestamp\": \"{{ $json.timestamp }}\"\n  }\n}",
        "options": {}
      },
      "id": "log-to-airtable",
      "name": "Log to Airtable (Optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 500],
      "notes": "Optional: logs every WhatsApp interaction to an Airtable table called WhatsApp_Interactions. Create this table in your Airtable base if you want logging."
    }
  ],
  "connections": {
    "Webhook: Incoming WhatsApp": {
      "main": [
        [
          {
            "node": "Match FAQ Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match FAQ Keywords": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response (Brevo)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Airtable (Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Response (Brevo)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
